<div class="container">
    <div class="row">
        <div class="col-md pt-3 pb-3">
            <div class="d-flex justify-content-center">
                <h1>New Trip Form</h1>
            </div>
            <div class="d-flex justify-content-center">
                <%= form_for @trip do |f| %>
                    <%= f.label :title %>
                    <%= f.text_field :title %><br>

                    <%= f.fields_for :trip_users do |trip_usr| %>
                        <%= trip_usr.label 'Email:'%>
                        <%= trip_usr.text_field :user_id %>

                        <%= trip_usr.hidden_field :user_type, :value => 'Contributer' %><br>
                    <% end %>

                    <%= f.fields_for :idea_board do |idea_b| %>
                        <%= idea_b.hidden_field :name %>
                    <% end %>

                    <%= f.submit %>
                <% end %>
            </div>
        </div>
    </div>
</div>