<div class="container">
    <div class="row">
        <div class="col-md pt-3 pb-3">
            <div class="d-flex justify-content-center">
                <h1>Login</h1>
            </div>
            <div class="d-flex justify-content-center">
                <%= form_for(@user) do |f| %>
                    <%= f.label :username %><br>
                    <%= f.text_field :username %><br>
                    <%= f.label :password %><br>
                    <%= f.text_field :password_digest %><br><br>
                    <%= f.submit %>
                <% end %>
            </div>
        </div>
    </div>
</div>